server:
  port: 8888

spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: https://gitlab.com/azizbenhassine270/config-repo.git
          default-label: main
          clone-on-start: true
        native:
          search-locations: file:/app/config-repo

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
  health:
    client-config-server:
      enabled: false
